@import '../../../modules/_colors.scss';
@import '../../../modules/_fonts.scss';


.navBookItemWrapper {
    display: flex;
}
.navItem {
    color: $main-dark-color;
}
.navItemHide {
    display: none;
}
.navItemDivider {
    border-top: 1px solid #BFC4C9;
    margin: 0 -16px;
}

.navDisplayNone {
    display: none;
}

.navItemActive {
    color: $main-orange-color;
    border-bottom: 1px solid;
    border-color: $main-orange-color;
    padding-bottom: 8px;
    display: block;
    width: 100%;
}

@media (max-width: 892px) {
    .navItemHide {
        display: flex;
    }
}

