$main-orange-color: #F83600;
$secondary-orange-color: #FF740F;
$main-white-color: #FFFFFF;
$gray-black5-color: #F9F9FA;
$gray-black10-color: #EBEBEB;
$gray-black20-color: #BFC4C9;
$gray-black40-color: #A7A7A7;
$grey-black70-color: #727272;
$main-dark-color: #363636;
$negative-bgc: #FEEBEA;
$negative: #F42C4F;
$other-text-select: #FF5253;
