.controls {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    .controlsInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .controlsViewMode {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}
