@import '../../../modules/_colors.scss';
@import '../../../modules/_fonts.scss';


.articleItem {
    font-family: $font-stack;
    color: $main-dark-color;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.head {
    font-weight: 600;
}

.secondary {
    font-weight: 400;
    padding-left: 30px;
}
